<configuration>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <!-- Одбаци само INFO, све остало пусти -->
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>INFO</level>
      <onMatch>DENY</onMatch>
      <onMismatch>NEUTRAL</onMismatch>
    </filter>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Омогући и DEBUG (али ће INFO бити филтриран) -->
  <root level="WARN">
    <appender-ref ref="CONSOLE"/>
  </root>

  <!-- По жељи сузи на твој пакет -->
  <!-- <logger name="rs.atekom.prati.server" level="DEBUG"/> -->
  <logger name="com.google.maps" level="ERROR"/>
  <logger name="org.atmosphere" level="ERROR"/>
  <logger name="org.hibernate" level="WARN"/>
</configuration>
